
Python Basic Tutorials/.ipynb_checkpoints/Matplotlib Formatting Examples-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Lorenz Attractor-checkpoint.ipynb
Python Basic Tutorials/.ipynb_checkpoints/1. Python Basics-checkpoint.ipynb
Physics Programs/__pycache__/projectilemotion.cpython-37.pyc
Physics Programs/.ipynb_checkpoints/Projectile Motion-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Newton Fractal-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Helmholtz Coil-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Stefan's Law-checkpoint.ipynb
