
Python Basic Tutorials/.ipynb_checkpoints/Matplotlib Formatting Examples-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Lorenz Attractor-checkpoint.ipynb
Python Basic Tutorials/.ipynb_checkpoints/1. Python Basics-checkpoint.ipynb
Physics Programs/__pycache__/projectilemotion.cpython-37.pyc
Physics Programs/.ipynb_checkpoints/Projectile Motion-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Newton Fractal-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Helmholtz Coil-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Stefan's Law-checkpoint.ipynb
Math Programs/.ipynb_checkpoints/Non-Lychrel numbers-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Wave Packets-checkpoint.ipynb
Python Basic Tutorials/.ipynb_checkpoints/2. NumPy Tutorial-checkpoint.ipynb
Math Programs/.ipynb_checkpoints/Dini's Surface-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Integration with Simpson's Rule-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Fourier Synthesis of Waves-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Maxwell Velocity Distribution-checkpoint.ipynb
Python Basic Tutorials/.ipynb_checkpoints/3. Matplotlib Tutorial-checkpoint.ipynb
Speedtest/.ipynb_checkpoints/Speedtest-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Halvorsen Attractor-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Lissajous Figures-checkpoint.ipynb
.DS_Store
