
Python Basic Tutorials/.ipynb_checkpoints/Matplotlib Formatting Examples-checkpoint.ipynb
Physics Programs/.ipynb_checkpoints/Lorenz Attractor-checkpoint.ipynb
Python Basic Tutorials/.ipynb_checkpoints/1. Python Basics-checkpoint.ipynb
